// 颜色定义规范
$color-theme: #fc4f08;               // 平台品牌色，仅限小面积使用，用于需要特别强调突出的文字，按钮和选中状态的ICON
$color-assist: #4386eb;              // 作为橘黄色的辅助色，用于二级重点突出的按钮或者文字颜色，当文字带有链接，并且可点击时可用该颜色
$color-header: #313642;              // 指挥调度主页界面皮肤和顶部导航栏主色调，仅限用于界面皮肤用色

$color-strong: #ff3b3b;              // 用于需要特别说明或者强调提醒的文字或者按钮状态颜色，比如金额数，删除按钮等
$color-text-status: #4aaf22;         // 主要作为某些文字状态颜色，比如通过，待审，进行中等
$color-border: #dadada;              // 用于所有边框的描边颜色和分割线颜色
$color-content-bg: #f5f5f5;          // 用于所有页面内容区域的背景底色

$color-text: #333;                   // 主标题和常规内容文字的主要用色
$color-sub-text: #979797;            // 作为副标题和次要内容文字的颜色，比如查看更多，是否关闭导航栏等，一般和#333333成深浅对比关系时出现
$color-input-tips: #d3d3d3;          // 用于输入框内提示性文字的字体颜色

// 字体定义规范
$font-size-small: 10px;              // 该字号为最小字号，仅用于注释类文案
$font-size: 12px;                    // 用于内页大部分常规内容文字
$font-size-medium: 14px;             // 用于左侧菜单名称和内页二级导航菜单名称
$font-size-large: 16px;            // 仅用于需要重点突出的大标题
